SPRING_PROFILES_ACTIVE=dev
SERVICE_NAME=payment-service
SERVER_PORT=8085
APP_TIMEZONE=UTC
TZ=UTC

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy
DB_USERNAME=tickefy
DB_PASSWORD=change_me
DB_SCHEMA=payment_service

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=tickefy
RABBITMQ_PASSWORD=change_me

LOG_LEVEL=INFO

APP_PAYMENT_PROVIDER=MOCK_SEPAY
APP_SEPAY_MODE=mock
SEPAY_BASE_URL=https://userapi.sepay.vn
SEPAY_API_KEY=
SEPAY_ACCOUNT_NUMBER=VQRQAKAVR0630
SEPAY_BANK_CODE=MBBank
SEPAY_ACCOUNT_NAME=TONG DUONG THAI HOA
SEPAY_QR_BASE_URL=https://vietqr.app/img
SEPAY_QR_TEMPLATE=compact
SEPAY_CONNECT_TIMEOUT=PT2S
SEPAY_READ_TIMEOUT=PT10S
SEPAY_MOCK_FAIL_MODE=NONE
SEPAY_MOCK_QUERY_RESULT=NONE
SEPAY_MOCK_REFUND_MODE=NONE

PAYMENT_RECONCILE_DELAY=PT5M
PAYMENT_RECONCILE_STALE_AFTER=PT10M
PAYMENT_RECONCILE_BATCH=50
