# Runtime
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=docker

# Downstream services
AUTH_SERVICE_URL=http://auth-service:8080
EVENT_SERVICE_URL=http://event-service:8080
TICKET_SERVICE_URL=http://ticket-service:8080
ORDER_SERVICE_URL=http://order-service:8080
PAYMENT_SERVICE_URL=http://payment-service:8080
NOTIFICATION_SERVICE_URL=http://notification-service:8080
CHECKIN_SERVICE_URL=http://checkin-service:8080
INVENTORY_SERVICE_URL=http://inventory-service:8080
AI_BIO_SERVICE_URL=http://ai-bio-service:8080
CSV_INGESTION_SERVICE_URL=http://csv-ingestion-service:8080

# JWT verification
JWT_PUBLIC_KEY_PATH=/keys/public.pem
JWT_ISSUER=tickefy-auth-service
JWT_AUDIENCE=tickefy-api
