SPRING_PROFILES_ACTIVE=dev
SERVICE_NAME=event-service
SERVER_PORT=8082
APP_TIMEZONE=UTC
TZ=UTC

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy
DB_USERNAME=tickefy
DB_PASSWORD=change_me
DB_SCHEMA=event_service

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=tickefy
RABBITMQ_PASSWORD=change_me
RABBITMQ_EXCHANGE=tickefy.exchange
RABBITMQ_DLX=tickefy.dlx

JWT_ISSUER=tickefy-auth-service
JWT_AUDIENCE=tickefy-api
JWT_PUBLIC_KEY_PATH=../auth-service/src/main/resources/keys/jwt-dev-public.pem

LOG_LEVEL=INFO
