SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8090
SERVICE_NAME=csv-ingestion-service
APP_TIMEZONE=UTC
TZ=UTC

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy_csv_ingestion
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

LOG_LEVEL=INFO
