SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8086
SERVICE_NAME=notification-service
APP_TIMEZONE=UTC
TZ=UTC

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy_notification
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

LOG_LEVEL=INFO
