SPRING_PROFILES_ACTIVE=dev
SERVICE_NAME=e-ticket-service
SERVER_PORT=8087
APP_TIMEZONE=UTC
TZ=UTC
JWT_SECRET=dev-only-secret-minimum-32-chars-long

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy
DB_USERNAME=tickefy
DB_PASSWORD=change_me
DB_SCHEMA=ticket_schema

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=tickefy
RABBITMQ_PASSWORD=change_me

LOG_LEVEL=INFO
