SPRING_PROFILES_ACTIVE=dev
SERVICE_NAME=checkin-service
SERVER_PORT=8088
APP_TIMEZONE=UTC
TZ=UTC

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy
DB_USERNAME=tickefy
DB_PASSWORD=change_me
DB_SCHEMA=checkin_service

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=tickefy
RABBITMQ_PASSWORD=change_me

LOG_LEVEL=INFO
