SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8081
SERVICE_NAME=auth-service
APP_TIMEZONE=UTC
TZ=UTC

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tickefy_auth
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

LOG_LEVEL=INFO
